@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
  background-color: black;
  }
}

@layer components{
  .flex-custom-row{
    @apply flex flex-row gap-6 md:gap-10 lg:gap-40;
  }
}

::-webkit-scrollbar{
  width: 10px;
}



::-webkit-scrollbar-thumb{
  background-color: #ffec74;
  height: 40px;
  border-radius: 10px;
}